<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>services</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">services</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_service_path(@service), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Service
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Name</th>
              <th>Credits per month</th>
              <th>Price per year</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @services) do |service| %>
              <td><%= service.name %></td>
              <td><%= service.credits_per_month %></td>
              <td><%= service.price_per_year %></td>
                            <td><%= link_to 'Show', service %></td>
                <td><%= link_to 'Edit', edit_service_path(service) %></td>
                <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

