<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Show <small>service</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Services", services_path %></li>
      <li class="active">Show</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_service_path(@service), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><%= @service.name %></dd>

            <dt>Credits per month:</dt>
            <dd><%= @service.credits_per_month %></dd>

            <dt>Price per year:</dt>
            <dd><%= @service.price_per_year %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

