<%= simple_form_for(@partner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :customer %>
    <%= f.input :name %>
    <%= f.input :customer_type, as: :radio_buttons, collection: ['Propreitor', 'Partner'], prompt: "Select", class: "form-control", label: false %>
    <%= f.input :pan_number %>
    <%= f.input :aadhaar_number %>
    <%= f.input :voter_id_number %>
    <%= f.input :mobile_number %>
    <%= f.input :alternate_mobile_number %>
    <%= f.input :date_of_birth %>
    <%= f.input :bank_name %>
    <%= f.input :bank_account_number %>
    <%= f.input :bank_branch %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
