<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>partners</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">partners</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_partner_path(@partner), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Partner
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Pan no</th>
              <th>Aadhaar no</th>
              <th>Voter id no</th>
              <th>Mobile no</th>
              <th>Alternate mobile no</th>
              <th>Date of birth</th>
              <th>Bank name</th>
              <th>Bank ac no</th>
              <th>Bank branch</th>
              <th>Customer</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @partners) do |partner| %>
              <td><%= partner.name %></td>
              <td><%= partner.customer_type %></td>
              <td><%= partner.pan_number %></td>
              <td><%= partner.aadhaar_number %></td>
              <td><%= partner.voter_id_number %></td>
              <td><%= partner.mobile_number %></td>
              <td><%= partner.alternate_mobile_number %></td>
              <td><%= partner.date_of_birth %></td>
              <td><%= partner.bank_name %></td>
              <td><%= partner.bank_account_number %></td>
              <td><%= partner.bank_branch %></td>
              <td><%= partner.customer.name %></td>
                            <td><%= link_to 'Show', partner %></td>
                <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
                <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

