<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Show <small>partner</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Partners", partners_path %></li>
      <li class="active">Show</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_partner_path(@partner), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            
            <dt>Customer:</dt>
            <dd><%= @partner.customer.name %></dd>
            
            <dt>Name:</dt>
            <dd><%= @partner.name %></dd>

            <dt>Type:</dt>
            <dd><%= @partner.customer_type %></dd>

            <dt>Pan no:</dt>
            <dd><%= @partner.pan_number %></dd>

            <dt>Aadhaar no:</dt>
            <dd><%= @partner.aadhaar_number %></dd>

            <dt>Voter id no:</dt>
            <dd><%= @partner.voter_id_number %></dd>

            <dt>Mobile no:</dt>
            <dd><%= @partner.mobile_number %></dd>

            <dt>Alternate mobile number:</dt>
            <dd><%= @partner.alternate_mobile_number %></dd>

            <dt>Date of birth:</dt>
            <dd><%= @partner.date_of_birth %></dd>

            <dt>Bank name:</dt>
            <dd><%= @partner.bank_name %></dd>

            <dt>Bank ac no:</dt>
            <dd><%= @partner.bank_account_number %></dd>

            <dt>Bank branch:</dt>
            <dd><%= @partner.bank_branch %></dd>

            

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

