<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Home <small>#index</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/home/index.html.erb</p>
</section>