<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :address %>
    <%= f.input :gst_number %>
    <%= f.input :pan_number %>
    <%= f.input :aadhaar_number %>
    <%= f.input :voter_id_number %>
    <%= f.input :mobile_number %>
    <%= f.input :alternate_mobile_number %>
    <%= f.input :date_of_birth %>
    <%= f.input :bank_name %>
    <%= f.input :bank_account_number %>
    <%= f.input :bank_branch %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
