<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>customers</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">customers</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_customer_path(@customer), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Customer
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Address</th>
              <th>Gst number</th>
              <th>Pan number</th>
              <th>Aadhaar number</th>
              <th>Voter id number</th>
              <th>Mobile number</th>
              <th>Alternate mobile number</th>
              <th>Date of birth</th>
              <th>Bank name</th>
              <th>Bank account number</th>
              <th>Bank branch</th>
              <th>Service</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @customers) do |customer| %>
              <td><%= customer.name %></td>
              <td><%= customer.code %></td>
              <td><%= customer.address %></td>
              <td><%= customer.gst_number %></td>
              <td><%= customer.pan_number %></td>
              <td><%= customer.aadhaar_number %></td>
              <td><%= customer.voter_id_number %></td>
              <td><%= customer.mobile_number %></td>
              <td><%= customer.alternate_mobile_number %></td>
              <td><%= customer.date_of_birth %></td>
              <td><%= customer.bank_name %></td>
              <td><%= customer.bank_account_number %></td>
              <td><%= customer.bank_branch %></td>
              <td><%= customer.service_id %></td>
                            <td><%= link_to 'Show', customer %></td>
                <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
                <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

