<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Show <small>customer</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Customers", customers_path %></li>
      <li class="active">Show</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_customer_path(@customer), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd><%= @customer.name %></dd>

            <dt>Code:</dt>
            <dd><%= @customer.code %></dd>

            <dt>Address:</dt>
            <dd><%= @customer.address %></dd>

            <dt>Gst number:</dt>
            <dd><%= @customer.gst_number %></dd>

            <dt>Pan number:</dt>
            <dd><%= @customer.pan_number %></dd>

            <dt>Aadhaar number:</dt>
            <dd><%= @customer.aadhaar_number %></dd>

            <dt>Voter id number:</dt>
            <dd><%= @customer.voter_id_number %></dd>

            <dt>Mobile number:</dt>
            <dd><%= @customer.mobile_number %></dd>

            <dt>Alternate mobile number:</dt>
            <dd><%= @customer.alternate_mobile_number %></dd>

            <dt>Date of birth:</dt>
            <dd><%= @customer.date_of_birth %></dd>

            <dt>Bank name:</dt>
            <dd><%= @customer.bank_name %></dd>

            <dt>Bank account number:</dt>
            <dd><%= @customer.bank_account_number %></dd>

            <dt>Bank branch:</dt>
            <dd><%= @customer.bank_branch %></dd>

        

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

