<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :customer_id %><br />
    <%= collection_select(:subscription, :customer_id, @customers, :id, :name, {:prompt => false}) %><br />
    <%= f.label :service_id %><br />
    <%= collection_select(:subscription, :service_id, @services, :id, :name, {:prompt => false}) %>
    <%= f.input :subscription_start %>
    <%= f.input :subscription_end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
