<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>subscriptions</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">subscriptions</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_subscription_path(@subscription), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Subscription
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Customer</th>
              <th>Service</th>
              <th>Subscription start</th>
              <th>Subscription end</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @subscriptions) do |subscription| %>
              <td><%= subscription.customer_id %></td>
              <td><%= subscription.service_id %></td>
              <td><%= subscription.subscription_start %></td>
              <td><%= subscription.subscription_end %></td>
                            <td><%= link_to 'Show', subscription %></td>
                <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
                <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

