<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<%= f.label :customer_id %><br />
    <%= collection_select(:payment, :subscription_id, @subscriptions, :id, :customer_id, {:prompt => false}) %><br />
    <%= f.input :amount %>
    <%= f.input :date_paid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
