<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>payments</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">payments</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_payment_path(@payment), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Payment
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Subscription</th>
              <th>Amount</th>
              <th>Date paid</th>
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @payments) do |payment| %>
              <td><%= payment.subscription_id %></td>
              <td><%= payment.amount %></td>
              <td><%= payment.date_paid %></td>
                            <td><%= link_to 'Show', payment %></td>
                <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
                <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

