<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Show <small>payment</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Payments", payments_path %></li>
      <li class="active">Show</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_payment_path(@payment), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            <dt>Subscription:</dt>
            <dd><%= @payment.subscription_id %></dd>

            <dt>Amount:</dt>
            <dd><%= @payment.amount %></dd>

            <dt>Date paid:</dt>
            <dd><%= @payment.date_paid %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

