<%= simple_form_for(@customer_service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.association :customer %>
    <%= f.association :service %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
