<% content_for :content_header  do %>
  <section class="content-header">
    <h1>
      Editing <small><%= link_to edit_customer_service_path,  @customer_service %></small>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Customer_services", customer_services_path %></li>
        <li class="active">Edit</li>
      </ol>
    </h1>
  </section>
<% end %>

<%= render 'form' %>
