<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>customer_services</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">customer_services</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_customer_service_path(@customer_service), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Customer service
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>Customer</th>
              <th>Service</th>
           
                            <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= content_tag_for(:tr, @customer_services) do |customer_service| %>
            
              <td><%= customer_service.customer.name %></td>
              <td><%= customer_service.service.name %></td>
                            <td><%= link_to 'Show', customer_service %></td>
                <td><%= link_to 'Edit', edit_customer_service_path(customer_service) %></td>
                <td><%= link_to 'Destroy', customer_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

