<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Show <small>customer_service</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Customer_services", customer_services_path %></li>
      <li class="active">Show</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_customer_service_path(@customer_service), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">
            

            <dt>Customer:</dt>
            <dd><%= @customer_service.customer.name %></dd>

            <dt>Service:</dt>
            <dd><%= @customer_service.service.name %></dd>

          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

