<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
      <p>Hello, Jane</p>

      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link root_path do %>
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    <% end %>
     <%= nav_link customers_path do %>
      <i class="fa fa-users"></i> <span>Customers</span>
    <% end %>
     <%= nav_link partners_path do %>
      <i class="fa fa-user"></i> <span>Partners</span>
    <% end %>
     <%= nav_link services_path do %>
      <i class="fa fa-tasks"></i> <span>Services</span>
    <% end %>
    <%= nav_link subscriptions_path do %>
      <i class="fa fa-sign-in"></i> <span>Subscriptions</span>
    <% end %>
     <%= nav_link payments_path do %>
      <i class="fa fa-money"></i> <span>Payments</span>
    <% end %>
  </ul>
</section>